{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<section class="usuario-bar-section">
<div class="usuario-bar d-flex align-items-center justify-content-between px-3">

<!-- Sección Izquierda: Foto + Usuario -->
<div class="usuario-bar-logo-nombre">
    <span class="material-symbols-outlined mb-1" style="color: white; font-size: 46px;">account_circle</span>
  <div class="d-flex flex-column align-items-center flex-shrink-0">
  
    <!-- Nombre del usuario -->
    <div class="saludo" style="color: white; font-weight: 500;">Dashboard</div>

    <!-- Título de la página -->
    <div class="saludo" style="color: #5a9138; font-size: 11px;">Graficas y Metricas</div>
  </div>
  <div class="usuario-bar-centro">
    <button title="Activar o desactivar filtros" id="btnActivarFiltros" ><span class="material-symbols-outlined">filter_alt</span></button>
    <button title="Buscar cambio de turno" id="btnBuscarCambio" ><span class="material-symbols-outlined">search</span></button>
    <button><span class="material-symbols-outlined" onclick="abrirModalHorarios()">find_replace</span></button>
    <button><span class="material-symbols-outlined" style="color: white;">browse_activity</span></button>
    
  </div>
  
   
  </div>

</div>
</section>

<section class="contenedorGraficos">
<div id="graficoCircularAcademicas" style="width: 500px;height:400px;"></div>
<div id="graficoCircularPersonales" style="width: 500px;height:400px;"></div>
</section>

{% endblock %}

{% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function (){
    const content = document.getElementById("mainContent");
    content.style.background = "white";
  })
</script>

 <script>
  var chartDom = document.getElementById('main');
var myChart = echarts.init(chartDom);
var option;

setTimeout(function () {
  option = {
    legend: {},
    tooltip: {
      trigger: 'axis',
      showContent: false
    },
    dataset: {
      source: [
        ['total', '2012', '2013', '2014', '2015', '2016', '2017'],
        ['Milk Tea', 56.5, 82.1, 88.7, 70.1, 53.4, 85.1],
        ['Matcha Latte', 51.1, 51.4, 55.1, 53.3, 73.8, 68.7],
        ['Cheese Cocoa', 40.1, 62.2, 69.5, 36.4, 45.2, 32.5],
        ['Walnut Brownie', 25.2, 37.1, 41.2, 18, 33.9, 49.1]
      ]
    },
    xAxis: { type: 'category' },
    yAxis: { gridIndex: 0 },
    grid: { top: '55%' },
    series: [
      {
        type: 'line',
        smooth: true,
        seriesLayoutBy: 'row',
        emphasis: { focus: 'series' }
      },
      {
        type: 'line',
        smooth: true,
        seriesLayoutBy: 'row',
        emphasis: { focus: 'series' }
      },
      {
        type: 'line',
        smooth: true,
        seriesLayoutBy: 'row',
        emphasis: { focus: 'series' }
      },
      {
        type: 'line',
        smooth: true,
        seriesLayoutBy: 'row',
        emphasis: { focus: 'series' }
      },
      {
        type: 'pie',
        id: 'pie',
        radius: '30%',
        center: ['50%', '25%'],
        emphasis: {
          focus: 'self'
        },
        label: {
          formatter: '{b}: {@2012} ({d}%)'
        },
        encode: {
          itemName: 'product',
          value: '2012',
          tooltip: '2012'
        }
      }
    ]
  };
  myChart.on('updateAxisPointer', function (event) {
    const xAxisInfo = event.axesInfo[0];
    if (xAxisInfo) {
      const dimension = xAxisInfo.value + 1;
      myChart.setOption({
        series: {
          id: 'pie',
          label: {
            formatter: '{b}: {@[' + dimension + ']} ({d}%)'
          },
          encode: {
            value: dimension,
            tooltip: dimension
          }
        }
      });
    }
  });
  myChart.setOption(option);
});

option && myChart.setOption(option);
 </script>
    <script>
      graficoCircular = echarts.init(document.getElementById('graficoCircularAcademicas'));
      option = {
         title: {
        text: 'Tipo solicitud: Academicas',
        subtext: 'Fake Data'
          },
  series: [
    {
      type: 'pie',
      data: [
        {
          value: 335,
          name: 'Aprobadas'
        },
        {
          value: 234,
          name: 'Pendientes'
        },
        {
          value: 1548,
          name: 'Rechazadas'
        }
      ]
    }
  ]
};
graficoCircular.setOption(option);

const totalPersonales = '600';
graficoCircular = echarts.init(document.getElementById('graficoCircularPersonales'));
      option = {
         title: {
        text: 'Tipo solicitud: Personales',
        subtext: totalPersonales
          },
  series: [
    {
      type: 'pie',
      data: [
        {
          value: 544,
          name: 'Aprobadas'
        },
        {
          value: 44,
          name: 'Pendientes'
        },
        {
          value: 55,
          name: 'Rechazadas'
        }
      ]
    }
  ]
};
graficoCircular.setOption(option);
    </script>

{% endblock %}