{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<section class="usuario-bar-section">
<div class="usuario-bar d-flex align-items-center justify-content-between px-3">

<!-- Sección Izquierda: Foto + Usuario -->
<div class="usuario-bar-logo-nombre">
    <span class="material-symbols-outlined mb-1" style="color: white; font-size: 46px;">account_circle</span>
  <div class="d-flex flex-column align-items-center flex-shrink-0">
  
    <!-- Nombre del usuario -->
    <div class="saludo" style="color: white; font-weight: 500;">Dashboard</div>

    <!-- Título de la página -->
    <div class="saludo" style="color: #5a9138; font-size: 11px;">Graficas y Metricas</div>
  </div>
  <div class="usuario-bar-centro">
    
  </div>
  
   
  </div>

</div>
</section>

<section class="contenedorGraficos">
<div id="graficoCircularAcademicas" style="width: 500px;height:400px;"></div>
<div id="graficoCircularPersonales" style="width: 500px;height:400px;"></div>
</section>

<section class="contenedorGraficos">
  <div id="graficoBarras" style="width: 1000px; height:300px;"></div>
</section>

{% endblock %}

{% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function (){
    const content = document.getElementById("mainContent");
    content.style.background = "white";
  })
</script>

 <script>
  const aprobadasAcademicas = "{{ porcentajeAprobacion }}"
  const desaprobadasAcademicas = "{{ porcentajeDesaprobadas }}"
  const pendientesAcademicas = "{{ porcentajePendientes }}"
  const totalAcademicas = "{{ numSolicitudesTotal }}"
  const fechaInicialAcademicas = "{{ fechaIni }}"
  const fechaFinalAcademicas = "{{ fechaFin }}"
 </script>

<!--Graficos circulares-->
<script>
graficoCircular = echarts.init(document.getElementById('graficoCircularAcademicas'));
  option = {
  title: {
    text: `Tipo académicas `,
    subtext: `Aprobadas entre: ${fechaInicialAcademicas} - ${fechaFinalAcademicas}\n  \nTotal solicitudes: ${totalAcademicas}`,
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: 'Porcentajes',
      type: 'pie',
      radius: '50%',
      data: [
        { value: aprobadasAcademicas, name: 'Aprobadas' },
        { value: desaprobadasAcademicas, name: 'Desaparobadas' },
        { value: pendientesAcademicas, name: 'Pendientes' },
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
graficoCircular.setOption(option);

graficoCircular = echarts.init(document.getElementById('graficoCircularPersonales'));
  option = {
  title: {
    text: `Tipo personales`,
    subtext: `Aprobadas entre: ${fechaInicialAcademicas} - ${fechaFinalAcademicas}\n  \nTotal solicitudes: ${totalAcademicas}`,
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: 'Porcentajes',
      type: 'pie',
      radius: '50%',
      data: [
        { value: aprobadasAcademicas, name: 'Aprobadas' },
        { value: desaprobadasAcademicas, name: 'Desaparobadas' },
        { value: pendientesAcademicas, name: 'Pendientes' },
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
graficoCircular.setOption(option);
</script>

<!--Grafico barras-->
<script>
const graficoBarras = echarts.init(document.getElementById('graficoBarras'));
option = {
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      axisTick: {
        alignWithLabel: true
      }
    }
  ],
  yAxis: [
    {
      type: 'value'
    }
  ],
  series: [
    {
      name: 'Direct',
      type: 'bar',
      barWidth: '60%',
      data: [10, 52, 200, 334, 390, 330, 220]
    }
  ]
};
graficoBarras.setOption(option)
</script>

{% endblock %}